# Analysing IMDB Top 1000 movies using pandas
We'll be doing some transformation here where we override to original dataframe's values. This is not recommended as it will make your code most likely break the second time you run it. Just did it here to keep it simple

## 1. Loading the CSV and creating a DataFrame

In [1]:
import pandas as pd

df = pd.read_csv("imdb_top_1000.csv")

df.info() # Prints all columns and what data type they're in
df.head(5) # Print first 5 rows

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Poster_Link    1000 non-null   object
 1   Series_Title   1000 non-null   object
 2   Released_Year  1000 non-null   object
 3   Certificate    899 non-null    object
 4   Runtime        1000 non-null   object
 5   Genre          1000 non-null   object
 6   IMDB_Rating    1000 non-null   float64
 7   Overview       1000 non-null   object
 8   Meta_score     843 non-null    float64
 9   Director       1000 non-null   object
 10  Star1          1000 non-null   object
 11  Star2          1000 non-null   object
 12  Star3          1000 non-null   object
 13  Star4          1000 non-null   object
 14  No_of_Votes    1000 non-null   int64
 15  Gross          831 non-null    object
dtypes: float64(2), int64(1), object(13)
memory usage: 125.1+ KB

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"

## 2. Analysing data

### 2.1 Find the average IMDB rating

In [2]:
rating_col = df["IMDB_Rating"] # Get the "IMDB_Rating" column which will return a Series
rating_col.mean() # Series has a method `mean()` to get the average

# Can also be done in one line
df["IMDB_Rating"].mean()

7.949299999999999

### 2.2 Find count of movies by director "Quentin Tarantino"

In [3]:
director_col = df["Director"] # Get the "Director" column which will return a Series

# Applying a boolean operator on a Series creates a new Series with True/False values
# depending on if the item matches our condition
qt_filter = director_col == "Quentin Tarantino"
print(qt_filter)

0      False
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Name: Director, Length: 1000, dtype: bool

In [4]:
# We can pass this Series of boolean to our dataframe to create a new DataFrame with only those movies in it
qt_movies = df[qt_filter]
qt_movies.head()

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
6,https://m.media-amazon.com/images/M/MV5BNGNhMD...,Pulp Fiction,1994,A,154 min,"Crime, Drama",8.9,"The lives of two mob hitmen, a boxer, a gangst...",94.0,Quentin Tarantino,John Travolta,Uma Thurman,Samuel L. Jackson,Bruce Willis,1826188,"107,928,762"
62,https://m.media-amazon.com/images/M/MV5BMjIyNT...,Django Unchained,2012,A,165 min,"Drama, Western",8.4,"With the help of a German bounty hunter, a fre...",81.0,Quentin Tarantino,Jamie Foxx,Christoph Waltz,Leonardo DiCaprio,Kerry Washington,1357682,"162,805,434"
93,https://m.media-amazon.com/images/M/MV5BOTJiND...,Inglourious Basterds,2009,A,153 min,"Adventure, Drama, War",8.3,"In Nazi-occupied France during World War II, a...",69.0,Quentin Tarantino,Brad Pitt,Diane Kruger,Eli Roth,Mélanie Laurent,1267869,"120,540,719"
103,https://m.media-amazon.com/images/M/MV5BZmExNm...,Reservoir Dogs,1992,R,99 min,"Crime, Drama, Thriller",8.3,When a simple jewelry heist goes horribly wron...,79.0,Quentin Tarantino,Harvey Keitel,Tim Roth,Michael Madsen,Chris Penn,918562,"2,832,029"
241,https://m.media-amazon.com/images/M/MV5BNzM3ND...,Kill Bill: Vol. 1,2003,R,111 min,"Action, Crime, Drama",8.1,"After awakening from a four-year coma, a forme...",69.0,Quentin Tarantino,Uma Thurman,David Carradine,Daryl Hannah,Michael Madsen,1000639,"70,099,045"

In [5]:
# We can use the `len()` to get the amount of rows in a DataFrame
print(len(qt_movies))

8

### 2.3 Find the lowest rated movie

In [6]:
sorted_df = df.sort_values("IMDB_Rating") # Use `sort_values()` to sort the DataFrame by a specific column
sorted_df.head(1) # Create a new DataFrame with only the first row

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
999,https://m.media-amazon.com/images/M/MV5BMTY5OD...,The 39 Steps,1935,NaN,86 min,"Crime, Mystery, Thriller",7.6,A man in London tries to help a counter-espion...,93.0,Alfred Hitchcock,Robert Donat,Madeleine Carroll,Lucie Mannheim,Godfrey Tearle,51853,NaN

In [7]:
sorted_df.iloc[0] # Alternatively use `iloc` to get the first row as a Series

Poster_Link      https://m.media-amazon.com/images/M/MV5BMTY5OD...
Series_Title                                          The 39 Steps
Released_Year                                                 1935
Certificate                                                    NaN
Runtime                                                     86 min
Genre                                     Crime, Mystery, Thriller
IMDB_Rating                                                    7.6
Overview         A man in London tries to help a counter-espion...
Meta_score                                                    93.0
Director                                          Alfred Hitchcock
Star1                                                 Robert Donat
Star2                                            Madeleine Carroll
Star3                                               Lucie Mannheim
Star4                                               Godfrey Tearle
No_of_Votes                                                  51853
Gross                                                          NaN
Name: 999, dtype: object

### 2.4 Find sum of gross of movies by "Christopher Nolan"

In [8]:
# This one requires a bit of trickery as `Gross` is not a number by default.

df["Gross"][0] # Printing the first one shows that it's a string separated by ","

'28,341,469'

In [9]:
# In order to convert this into a float (which we can do arithmetic with)
# we need to:
# 1. Strip the commas from all the strings
# 2. Convert the strings into a float

df["Gross"] = df["Gross"].str.replace(",", "") # Replaces all commas with nothing aka removing them
df["Gross"] = df["Gross"].astype(float) # Converting strings to float using `astype()`

# NOTE: this can only be run once since we're overriding the "Gross" column.
# Running it again will lead to errors

In [10]:
# Now we can work with "Gross" like any other numerical column

df["Gross"].sum()

56536877976.0

In [11]:
# In order to get only movies by "Christopher Nolan" we have to first filter those out.
# We can do this the same way we did above with Quentin Tarantino

cn_movies = df[df["Director"] == "Christopher Nolan"]
cn_movies

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,534858444.0
8,https://m.media-amazon.com/images/M/MV5BMjAxMz...,Inception,2010,UA,148 min,"Action, Adventure, Sci-Fi",8.8,A thief who steals corporate secrets through t...,74.0,Christopher Nolan,Leonardo DiCaprio,Joseph Gordon-Levitt,Elliot Page,Ken Watanabe,2067042,292576195.0
21,https://m.media-amazon.com/images/M/MV5BZjdkOT...,Interstellar,2014,UA,169 min,"Adventure, Drama, Sci-Fi",8.6,A team of explorers travel through a wormhole ...,74.0,Christopher Nolan,Matthew McConaughey,Anne Hathaway,Jessica Chastain,Mackenzie Foy,1512360,188020017.0
36,https://m.media-amazon.com/images/M/MV5BMjA4ND...,The Prestige,2006,U,130 min,"Drama, Mystery, Sci-Fi",8.5,"After a tragic accident, two stage magicians e...",66.0,Christopher Nolan,Christian Bale,Hugh Jackman,Scarlett Johansson,Michael Caine,1190259,53089891.0
63,https://m.media-amazon.com/images/M/MV5BMTk4OD...,The Dark Knight Rises,2012,UA,164 min,"Action, Adventure",8.4,Eight years after the Joker's reign of anarchy...,78.0,Christopher Nolan,Christian Bale,Tom Hardy,Anne Hathaway,Gary Oldman,1516346,448139099.0
69,https://m.media-amazon.com/images/M/MV5BZTcyNj...,Memento,2000,UA,113 min,"Mystery, Thriller",8.4,A man with short-term memory loss attempts to ...,80.0,Christopher Nolan,Guy Pearce,Carrie-Anne Moss,Joe Pantoliano,Mark Boone Junior,1125712,25544867.0
155,https://m.media-amazon.com/images/M/MV5BOTY4Yj...,Batman Begins,2005,UA,140 min,"Action, Adventure",8.2,"After training with his mentor, Batman begins ...",70.0,Christopher Nolan,Christian Bale,Michael Caine,Ken Watanabe,Liam Neeson,1308302,206852432.0
573,https://m.media-amazon.com/images/M/MV5BN2YyZj...,Dunkirk,2017,UA,106 min,"Action, Drama, History",7.8,"Allied soldiers from Belgium, the British Empi...",94.0,Christopher Nolan,Fionn Whitehead,Barry Keoghan,Mark Rylance,Tom Hardy,555092,188373161.0

In [12]:
# To get the sum of gross we just get that column and call the `sum()` method

cn_movies["Gross"].sum()

1937454106.0

### 2.5 Find average gross per year

In [13]:
# In order to calculate average per year we need to group by the "Released_Year" column

group_by_year = df.groupby("Released_Year")

# We then specify which column (Gross) we want to calculate the mean over
avg_per_year = group_by_year["Gross"].mean()

avg_per_year

# Note that not all movies have Gross so if a year includes no movies with Gross the result will be NaN

Released_Year
1920            NaN
1921      5450000.0
1922            NaN
1924       977375.0
1925      2750485.0
           ...
2017    103065642.6
2018    186268383.0
2019    150421418.0
2020            NaN
PG      173837933.0
Name: Gross, Length: 100, dtype: float64

### 2.6 Find how many Harry Potter movies are in this dataset

In [14]:
# A reasonable assumption is that all Harry Potter movies include the string "Harry Potter"
# To figure out how many we just need a way to filter movies to see if they include that string

# We can do that with the pandas `.str.contains()` method which works like a boolean condition
hp_movies = df[df["Series_Title"].str.contains("Harry Potter")]

len(hp_movies)

6

### 2.7 Find top 5 most common genres

In [15]:
# This one is tricky because the Genre column is a string with one or more genres
# separated by a comma.

df["Genre"][1] # Example picking the second movie

'Crime, Drama'

In [16]:
# In order to solve this we'd like genre to only be one value.
# One way of doing this is using the `explode()` method in pandas.
# The plan looks something like this:
# 1. Convert Genre into a list instead of a string
# 2. Explode the genre creating a duplicate entry for each movie but with a different genre
# 3. Group by genre and sort

# 1. Convert Genre into a list
df["Genre"] = df["Genre"].str.split(", ")

# 2. Explode the genre creating a duplicate entry for each movie but with a different genre
exploded_df = df.explode("Genre")

exploded_df[1:3] # Showing the two entries that now exist for "The Godfather" each with a separate genre

# 3. Group by genre, count and sort
exploded_df.groupby("Genre").size().sort_values(ascending=False)[:5]

Genre
Drama        724
Comedy       233
Crime        209
Adventure    196
Action       189
dtype: int64

### 2.8 Find if gross is correlated to release year (using built-in pandas method)

In [17]:
# Without going too much into what correlation is, there's a built-in method in pandas to calculate it.
# It will give you a number -1 < n < 1 which will tell you how correlated two series are:
# https://pandas.pydata.org/docs/reference/api/pandas.Series.corr.html

# In order for it to work everything needs to be a numerical value.
# So let's convert "Released_Year" into a number
df["Released_Year"] = pd.to_numeric(df["Released_Year"])

ValueError: Unable to parse string "PG" at position 966

In [21]:
# Oh no this gives us an error.
# The problem is that this dataset contains a weird year "PG" in some row
# We can filter this out by passing `errors="coerce"` to `to_numeric`
# which will fill anything it can't convert with NaN

df["Released_Year"] = pd.to_numeric(df["Released_Year"], errors="coerce")

In [22]:
# We then need to filter out any null values for "Released_Year"
nn_df = df[df["Released_Year"].notnull()]

In [24]:
# And finally we can calculate the correlation

nn_df["Released_Year"].corr(nn_df["Gross"])

0.2332497775139444

This correlation is slightly positive but not overly positive